html, body {
		font-family: tahoma,verdana,arial,helvetica;
font-size: 12pt;
	margin:5px;
	padding:0;
}

h1 {
	background-color: #00695c;	
	font-size: 20pt;
}

h2 {
	background-color: #00695c;
	font-size: 16pt;
	color: #FFFFFF
}

h3 {
	background-color: #fff;
	font-size: 14pt;
}

h3 {
	font-family: tahoma,verdana,arial,helvetica ;
	font-size: 14pt;
}


.esempi { 	
	 width: 99.5%; margin: auto;
}

.esempio { 	
	display: flex; 			
	flex-direction: row; 	
	flex-wrap: nowrap; 
	margin: 2px 0;
	justify-content: space-between;
	padding-top: 2px;
	border-top: 2px solid #cdcdcd;
}

.esempio:first-child { 	
	padding-top: 0;
	border-width: 0;
}

.esempio .sorgente,.esempio .rendering {
	flex-basis: 48.5%; 
	max-width: 48.5%; 	
	flex-grow: 1; 
	flex-shrink: 0; 
	padding: 0.5%;
} 
		
		
.esempio .rendering {
	border: 1px dashed #cdcdcd;
}

.esempio .sorgente {
	border: 1px dashed #cdcdcd;
	font-family: courier;
	background-color: #eee;
}


.sorgente p {
	margin: 0;	
	padding: 2px;	
	white-space: pre-line;
}

.sorgente p:hover { 
	border: 1px dashed black;
	background-color: white;
	color: black;
	padding: 1px;	
	cursor: help;
}

.sorgente.nohlt p:hover { 
	border: none;
	background-color: inherit;
	padding: 2px;	
	cursor: help;
}

.sorgente .commento {
	font-family: tahoma,verdana,arial,helvetica;
	font-size: 90%;
	font-weight: bold;
	background-color: yellow;
	display: block;
}
.sorgente .commento:before {
	content: "/*";
}
.sorgente .commento:after {
	content: "*/";
}

.highlight {
	background-color: yellow;
}



.operazione , .elenco{
	list-style: none;
}

#nome {
	color: green;
}


#cognome {
	color: red;
}

#telefono {
	color : blue;
}

#skill1, #skill2{
	font-style: oblique;
}




